@font-face{
	font-family: FontAwesome;
	src:url(../fonts/fontawesome-webfont.eot?v=4.4.0);
	src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
	font-weight: 400;
	font-style: normal;
}
.fa{
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering:auto;
}
.fa-caret-up:before{
	content:"\f0d8";
}
html{
	color:black;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
}

body{
	line-height: 2em;
	margin: 0 auto;
	max-width: 60em;
	background-color: #d8d3cd;
}

*, *::after, *::before{
	box-sizing: border-box;
}

a{color:black;text-decoration: none}
a:visited{color:black}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}
td, th{
	padding: 0;
	vertical-align: middle;
	text-align: center;
}
.cabecera{
	position: relative;
	background-image: url("../img/header_fgp.png");
	background-size: 1000px;
	height: 10em;
}

.contenido{
	background-color: #fff;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
/*DROPDOWN MENU*/
.categorias{
	max-width: 100%;
	background-color: powderblue;
	margin-bottom: 2em;
}
.categorias li {
	float:left;
}

.agenda-link .btn:hover, .agenda-link .selected{
	border-bottom-color: cornflowerblue;
}
.patines .btn:hover, .patines .selected{
	border-bottom-color: orange;
}
.linea .btn:hover, .linea .selected{
	border-bottom-color: green;
}
li.tab a{
	display: inline-block;
	color: white;
	text-align:center;
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-top: 0.2em;
}
.btn{
	border-bottom: 0.2em solid transparent;
}
.patines .drop-content{
	background-color: orange;
}
.linea .drop-content{
	background-color: green;
}
.drop{
	display: inline-block;
}
.patines:hover a{
	border-bottom-color: orange;
}
.linea:hover a{
	border-bottom-color: green;
}
.drop-content{
	display: none;
	max-width: 12em;
	position: absolute;
	opacity: .95;
}
.drop-content a{
	color: white;
	padding: 12px 16px;
	display: block;
	text-align: center;
}
.drop-content a:hover{
	color: gainsboro;
}
.drop:hover	.drop-content{
	display: block
}
/*END DROPDOWN MENU*/
/*CUERPO PRINCIPAL*/
.contenido-body{
	max-width: 90%;
	margin:auto;
	margin-bottom: 3em;
}

ul.ordenar{
	background-color: #444;
	border-radius: 3px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1.5em;
}
.ordenar a{
	color: white;
}
.ordenar li{
	border-bottom: 0.2em solid transparent;
	color: white;
	float: left;
	display: block;
	text-align: center;
	padding-top: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
}
.ordenar li:hover{
	background-color:black;
}
.ordenar .input-equipo:hover, .ordenar .documento:hover{
	background-color: transparent;
}
.ordenar .documento, .ordenar .input-equipo{
	float:right;
}
.ordenar .documento a{
	color:white;
}
.ordenar .documento:hover{
	border-bottom-color: white;
}
.ordenar input[type=text]{ 
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: white;
	background-image: url('../img/searchicon.png');
	background-position: 2px; 
	background-repeat: no-repeat;
	padding-left: 2em;
}
/*FIN CUERPO*/

/*ELEMENTOS*/
/*Partido*/
.partidos{
	width:100%;
	margin: auto;
	margin-bottom: 3em;
	display:block;
	border: 1px solid #CCD1D9;
	border-radius: 6px 6px 0 0;
}
.cabecera-partidos{
	background: powderblue;
	border-top: 2px solid powderblue;
	border-radius: 4px 4px 0 0;
	margin-bottom: 1.5em;
	min-height: 2em;
	width: 100%;
}
.cabecera-partidos .titulo{
	font-size: 1.5em;
	margin: 0 0.5em;
	float: left;
}
.cabecera-partidos .titulo .calendario{
	font-weight: 700;
}
.partido{
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 2.2em;
	font-size: 1em;
	line-height: 1.5em;
	background-color: #ecf0f1;
}
.partido-par{
	background-color: #ffffff;
}
.partido .link-partido{
	color: black;
	display:block;
	float: left;
	width: 100%;
	line-height: 2.2em;
	box-sizing: border-box;
	padding: 0 2%;
}
.partido .link-partido:hover{
	cursor: pointer;
	background-color: gray;
}
.partido .otros{
	width: 25%;
	min-height: 5px;
	display:block;
	text-align: left;
	float: right;
}
.partido .otros span{
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
}
.partido .otros .campo{
	width: 5em;
}
.partido .otros .categoria{
	width: 5em;
	font-weight: 600;
}
.partido .equipo-resultado{
	float:left;
	position: relative;
	width: 50%;
}
.partido .equipo-resultado .resultado{
	position: absolute;
	left: 50%;
	margin-left: -2.5em;
	display: block;
	width: 5em;
	text-align: center;
	font-weight: 600;
}
.partido .equipo-resultado .equipo{
	float: left;
	min-width: 10em;
	width: 50%;
}
.partido .equipo-resultado .equipo.local{
	padding-right: 2em;
}
.partido .equipo-resultado .equipo.local span{
	float: right;
}
.partido .equipo-resultado .equipo.local .team{
	margin-right: 2px;
	max-width: 9em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 
.partido .equipo-resultado .equipo.visitante{
	padding-left: 2em;
}
.partido .equipo-resultado .equipo.visitante span{
	float: left;
}
.partido .equipo-resultado .equipo.visitante .team{
	margin-left: 2px;
	max-width: 9em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.partido .fecha{
	width: 25%;
	position: relative;
	display:block;
	text-align: right;
	float:left;
}
.partido .fecha span{
	float: left;
}
.partido .fecha .dia{
	width: 6em;
}
.partido .fecha .hora{
	font-weight: 700;
	width: 4em;
}

/***EQUIPO***/
.pagina-equipo{
	width: 100%;
	min-height: 10em;
}
.nombre-equipo{
}

.plantilla{
	border: 1px solid #CCD1D9;
	border-radius: 6px 6px 0 0;
	display: table;
	width:100%;
	position: relative;
	margin-bottom: 2em;
}


/**CATEGORIAS**/
.lista-equipos{
	clear: left;
	position: relative;
}
.lista-equipos a{
	color: gainsboro;
}
.lista-equipos a:hover{
	color: white;
}
.caja-equipos{
	width: 100%;
	margin: auto;
	margin-bottom: 3em;
	overflow: hidden;
	display:block;
	border: 1px solid #CCD1D9;
	background-color: #434a54;
	border-radius: 6px 6px 0 0;
	min-height: 10em;
}

.cabecera-seccion{
	width: 100%;	
	border-radius: 4px 4px 0 0;
	background-color: powderblue;
	overflow: hidden;
	min-height: 2.5em;
}
.cabecera-seccion a{
	float: right;
	padding: 0 2em;
	line-height: 2.33em;
	position: relative;
}
.cabecera-seccion a:hover{
	background-color: darkturquoise;
	outline:0;
}
.cabecera-seccion a .fa-caret-up{
	display: none;
}

.cabecera-seccion a:hover .fa-caret-up{
	display: block;
	font-size: 20px;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -6px;
	width: 12px;
	height: 14px;
}

.cabecera-seccion .titulo{
	font-size: 1.5em;
	font-weight: 700;
	margin: 0.25em 0.5em;
	float: left;
	letter-spacing: 2px;
}
.columna-equipos{
	width: 25%;	
	float: left;
	position: relative;
	padding: 0.8em 0;
}
.celda-equipo{
	width: 100%;
	float: left;
	display: table;
	font-size: 1em;
	height: 2.5em;
}
.celda-equipo .nombre{ 
	width: 60%;
	display: table-cell;
	float: none;
	vertical-align: middle;
}
.caja-escudo{
	float: none;
	display: table-cell;
	margin-left: 2em;
	width: 40%;
	text-align: center;
	vertical-align:middle;
}
.escudo{
	display: block;
	position: relative;
	float: left;
	left: 46%;
	width: 2em;
	height: 2em;
	background-size: 2em, 2em;
}

.clasif-goles{
	width: 100%;
	clear: left;
	position: relative;
	display: table;
}
.clasificacion{
	border: 1px solid #CCD1D9;
	border-radius: 6px 6px 0 0;
	display: table;
	float: left;
	width: 50%;
	position: relative;
	box-sizing: border-box;
}
.clasif-goles table, .plantilla table{
	position: relative;
	width: 100%;
}
.clasif-goles thead, .plantilla thead{
	background: powderblue;
	width: 100%;
	height: 3em;
}
.clasif-goles tbody td, .plantilla tbody td{
	height: 2em;
}
.clasif-goles th, .plantilla th{
	font-weight: 600;
}
.clasif-goles tr, .plantilla tr{
	height: 2em;
}
.clasif-goles th.titulo, .plantilla th.titulo{
	text-align: left;
	line-height: 40px;
	font-size: 1.8em;
	padding: 0 1em;
}
.clasif-goles tr.linea-par, .plantilla tr.linea-par{
	background: #ecf0f1;
}
.clasif-goles td.posicion, .plantilla td.posicion{
	min-width: 1.3em;
	float: right;
}
.clasif-goles td.separador{
	width: 1em;
}
.clasificacion td.contenedor-nombre{
	position: relative;
}
.clasificacion td.contenedor-nombre a{
	color: black;
}
.clasificacion td.contenedor-nombre a:hover{
	color: #00bfff;
}
.clasificacion td.contenedor-nombre .nombre-equipo{
	float:left;
	position: relative;
	width: 100%;
	padding-left: 3em;
	text-align: left;
}
.clasificacion td.contenedor-nombre .nombre-equipo-movil{
	display: none;
	float: left;
	position: relative;
	padding-left: 3em;
	width: 100%;
	text-align: left;
}
.escudo-clasif{
	position: absolute;
	left:2px;
}
	
.goleadores{
	border: 1px solid #CCD1D9;
	border-radius: 6px 6px 0 0;
	display: table;
	float: right;
	position: relative;
	width: 46%;
}
.caja-jugador{
	position: relative;
	font-size: 14px;
	height: 2em;
	width: 80%;
}
.goleadores td.caja-jugador .nombre-jugador, .plantilla td.caja-jugador .nombre-jugador{
	text-align: left;
	overflow: hidden;
	float: left;
	position: relative;
	padding-right: 2em;
	padding-left: 2em;
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 98%;
}
.escudo-goles{
	position:absolute;
	right: 2px;
}

/***BANDERAS***/
.pais{
	display: block;
	position: absolute;
	width: 2em;
	height: 2em;
	background-size: 1em, 11px;
	background-repeat: no-repeat;
	background-position: center;
}

.pais.es{
	background-image: url("../img/paises/es.gif");
}
.pais.ke{
	background-image: url("../img/paises/ke.gif");
}
.pais.kp{
	background-image: url("../img/paises/kp.gif");
}
.pais.gi{
	background-image: url("../img/paises/gi.gif");
}

/***ESCUDOS***/
.escudo-partido{
	display: block;
	position: relative;
	width: 2em;
	height: 2em;
	background-size: 2em, 2em;
}
.escudo-grande{
	border: 2px solid black;
	border-radius: 6px;
	display: block;
	position: relative;
	width: 10em;
	height: 10em;
	background-size: 10em, 10em;
}
.escudo.lhl, .escudo-grande.lhl, .escudo-partido.lhl{
	background-image: url("../img/equipos/LHL.png");
}
.escudo.mor, .escudo-grande.mor, .escudo-partido.mor{
	background-image: url("../img/equipos/MOR.png");
}
.escudo.agd, .escudo-grande.agd, .escudo-partido.agd{
	background-image: url("../img/equipos/AGD.png");
}
.escudo.cbx, .escudo-grande.cbx, .escudo-partido.cbx{
	background-image: url("../img/equipos/CBX.png");
}
.escudo.lub, .escudo-grande.lub, .escudo-partido.lub{
	background-image: url("../img/equipos/LUB.png");
}
.escudo.rax, .escudo-grande.rax, .escudo-partido.rax{
	background-image: url("../img/equipos/RAX.png");
}
.escudo.vbr, .escudo-grande.vbr, .escudo-partido.vbr{
	background-image: url("../img/equipos/VBR.png");
}


/**MEDIA**/
@media only screen and (max-width: 900px){

	.partido .fecha{
		width: 50%;
	}
	.partido .otros{
		width: 50%;
	}
	.partido .equipo-resultado{
		width: 100%;
		float: left;
		clear: left;
	}
	.celda-equipo .nombre{
		display: none;
	}
	.clasif-goles .clasificacion{
		width: 100%;
		margin-bottom: 3em;
	}
	.clasif-goles .goleadores{
		float: left;
		width: 100%;
		margin-bottom: 3em;
	}
}

@media only screen and (max-width: 375px){

	.contenido-body{
		max-width: 99%;
	}

	.clasificacion td.contenedor-nombre .nombre-equipo{
		display: none;
	}

	.clasificacion td.contenedor-nombre .nombre-equipo-movil{
		display: block;
	}
		
}
